.nano {
  position:relative;
  float:left;
  top:10px; 
  
}
.nano .nano-content {
//	padding: 5px;
   top: 5px;
}

.nano .nano-pane {
	background: #BD9290;
	width: 8px;
	right: 1px;
  margin: 5px;
}

.nano .nano-slider {
	background: #711610;
}
